<div class="row">
  <div class="col-md-6">
    {{#bs-form}}
      {{#bs-form-group}}
        <label>Provider</label>
        <p class="form-control-static">{{model.provider.name}}</p>
      {{/bs-form-group}}
      {{#bs-form-group}}
        <label>Router Type</label>
        <p class="form-control-static">{{model.router.type}}</p>
      {{/bs-form-group}}
    {{/bs-form}}
  </div>
</div>
