{{#bs-form formLayout="inline" action="createNetwork"}}
  {{#bs-form-group}}
    {{bs-input type="text" placeholder="new network" value=newNetwork.name}}
  {{/bs-form-group}}

  {{#bs-form-group}}
    {{bs-input type="text" placeholder="192.168.1.0/24" value=newNetwork.cidr}}
  {{/bs-form-group}}

  {{#bs-button type="success" buttonType="submit"}}
    Create Network
  {{/bs-button}}
{{/bs-form}}

<p>

</p>

<table class="table table-hover">
  <thead>
    <th>
      Name
    </th>
    <th>
      CIDR
    </th>
    <th>
      <!-- actions dropdown -->
    </th>
  </thead>
  <tbody>
    {{#each model as |network|}}
      <tr>
        <td>
          {{network.name}}
          {{#if network.service}}
            <span class="label label-default">service</span>
          {{/if}}
        </td>
        <td>
          {{network.cidr}}
        </td>
        <td align="right">
          {{#unless network.service}}
            <div class="dropdown">
              <a href="#" data-toggle="dropdown" title="More Options">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#" {{action "deleteNetwork" network}}>Delete</a></li>
              </ul>
            </div>
          {{/unless}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
