<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>All Personas</h2>

      <table class="table table-hover">
        <thead>
          <th>
            Persona
          </th>
          <th>
            Provisioner
          </th>
        </thead>
        <tbody>
          {{#each model.personas as |p|}}
            <tr>
              <td>
                {{p.name}}
              </td>
              <td>
                {{p.provisioner.name}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div> {{!-- coll-sm-12 --}}
  </div> {{!-- row --}}
</div> {{!-- container --}}
