<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li>{{#link-to "builds.build.index"}}
          Build <span class="pull-right">{{state-label state=model.state}}</span>
        {{/link-to}}</li>
        <li>{{link-to "Access" "builds.build.access"}}</li>
        <li>{{link-to "Instances" "builds.build.instances"}}</li>
        {{!-- <li>{{link-to "Personas" "builds.build.personas"}}</li> --}}
      </ul>
      <ul class="nav nav-sidebar">
        <li>{{link-to "Lifecycle" "builds.build.lifecycle"}}</li>
      </ul>

      {{#if model.expired}}
        <span class="text-warning">
          <span class="glyphicon glyphicon-exclamation-sign"></span>
          {{model.expirationWarning}}
        </span>
      {{/if}}
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h3 class="page-header">{{model.name}}
        <small>
          testbed: {{link-to model.testbed.name "testbed" model.testbed}} /
          project: {{model.testbed.project.name}}
        </small>
      </h3>

      {{outlet}}
    </div>
  </div>
</div>
