<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>All Builds</h2>

      <table class="table table-hover">
        <thead>
          <th>
            Build
          </th>
          <th>
            State
          </th>
          <th>
            Task
          </th>
          <th>
            Testbed
          </th>
          <th>
            Project
          </th>
        </thead>
        <tbody>
          {{#each model as |build|}}
            <tr>
              <td>
                <strong>{{link-to build.name "builds.build" build}}</strong>
              </td>
              <td>
                {{state-label state=build.state}}
              </td>
              <td>
                {{build.taskHuman}}
              </td>
              <td>
                {{build.testbed.name}}
              </td>
              <td>
                {{build.testbed.project.name}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    </div> <!-- col-sm-12 -->
  </div> <!-- row -->
</div> <!-- container -->
