<div class="row">
  <div class="col-sm-12">
    <table width="100%">
      <tbody>
        <tr>
          <td>
            <h2>All Testbeds</h2>
          </td>
          <td align="right">
            {{link-to "New Testbed" "testbeds.new" class="btn btn-default"}}
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <th>
          Testbed
        </th>
        <th>
          Description
        </th>
        <th>
          Project
        </th>
        <th>
          Provider
        </th>
      </thead>
      <tbody>
        {{#each model as |testbed|}}
          <tr>
            <td>
              <strong>{{link-to testbed.name "testbed.hosts" testbed}}</strong>
            </td>
            <td>
              {{testbed.description}}
            </td>
            <td>
              {{testbed.project.name}}
            </td>
            <td>
              {{testbed.provider.name}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
