<div class="row">
  <div class="col-sm-12">
    <h2>New Testbed</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    {{#bs-form}}
      {{#bs-form-group}}
        <label class="control-label">Project</label>
        {{#x-select classNames="form-control" value=newTestbed.project}}
          {{#each model.projects as |project|}}
            {{#x-option value=project}}{{project.name}}{{/x-option}}
          {{/each}}
        {{/x-select}}
      {{/bs-form-group}}

      {{bs-form-element controlType="text" value=newTestbed.name label="Name"}}

      {{bs-form-element controlType="text" value=newTestbed.description label="Description"}}

      {{#bs-form-group}}
        <label class="control-label">Provider</label>
        {{#x-select classNames="form-control" value=newTestbed.provider}}
          {{#each model.providers as |provider|}}
            {{#x-option value=provider}}{{provider.name}}{{/x-option}}
          {{/each}}
        {{/x-select}}
      {{/bs-form-group}}

      {{#bs-button type="success" action="save"}}
        Create Testbed
      {{/bs-button}}
    {{/bs-form}}
  </div>
</div>
