<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li>{{link-to "Providers" "admin.providers"}}</li>
        <li>{{link-to "Provisioners" "admin.provisioners"}}</li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      {{!-- <h3 class="page-header">Settings</h3> --}}

      {{outlet}}
    </div>
  </div>
</div>
