<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <h1>Sorry, something went wrong</h1>

      <pre>
  {{model.stack}}
      </pre>
    </div>
  </div>
</div>
